{% extends 'base.html' %}

{% load static %}
{% block content %}
    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="profile">
                <img src="{% static 'img/profile.png' %}">
            </a>
        </nav>

        <!-- End of Navbar -->

        <main>
            <div class="header">
                <div class="left">
                    <h1>Dashboard</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">
                            Home
                        </a></li>
                    </ul>
                </div>
            </div>

            <!-- Documents -->
            <ul class="Documents">
                <li>
                    <i id="bxs-file-import" class='bx bxs-file-import'></i>
                    <span class="info">
                        <h3>
                            {{ count_all_files }}
                        </h3>
                        <p>Arrival Documents</p>
                    </span>
                </li>
                <li><i id="bxs-file-export" class='bx bxs-file-export'></i>
                    <span class="info">
                        <h3>
                            547
                        </h3>
                        <p>Departure Documents</p>
                    </span>
                </li>
            </ul>
            <!-- End of Documents -->

            <div class="bottom-data">
                <div class="orders">
                    <div class="header">
                        <i class='bx bx-receipt'></i>
                        <h3>Recent Users ({{ all_users.count }})</h3>
                        <i class='bx bx-filter'></i>
                    </div>
                    <table>
                        <thead>
                        <tr>
                            <th>User</th>
                            <th>Order Date</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for user in all_users %}
                            <tr>
                                <td>
                                    <img src="{% static 'img/user.jpg' %}">
                                    <p>{{ user.username }}</p>
                                </td>
                                <td>14-08-2023</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </main>

    </div>

    <script>
        // SIDE BAR

        const sideLinks = document.querySelectorAll('.sidebar .side-menu li a:not(.logout)');

        sideLinks.forEach(item => {
            const li = item.parentElement;
            item.addEventListener('click', () => {
                sideLinks.forEach(i => {
                    i.parentElement.classList.remove('active');
                })
                li.classList.add('active');
            })
        });


        // SEARCH BAR

        const searchBtn = document.querySelector('.content nav form .form-input button');
        const searchBtnIcon = document.querySelector('.content nav form .form-input button .bx');
        const searchForm = document.querySelector('.content nav form');

        searchBtn.addEventListener('click', function (e) {
            if (window.innerWidth < 576) {
                e.preventDefault;
                searchForm.classList.toggle('show');
                if (searchForm.classList.contains('show')) {
                    searchBtnIcon.classList.replace('bx-search', 'bx-x');
                } else {
                    searchBtnIcon.classList.replace('bx-x', 'bx-search');
                }
            }
        });

        window.addEventListener('resize', () => {
            if (window.innerWidth < 768) {
                sideBar.classList.add('close');
            } else {
                sideBar.classList.remove('close');
            }
            if (window.innerWidth > 576) {
                searchBtnIcon.classList.replace('bx-x', 'bx-search');
                searchForm.classList.remove('show');
            }
        });


        // THEME WHITE & DARK

        const toggler = document.getElementById('theme-toggle');

        toggler.addEventListener('change', function () {
            if (this.checked) {
                document.body.classList.add('dark');
            } else {
                document.body.classList.remove('dark');
            }
        });
    </script>
    </body>

    </html>
{% endblock content %}
