{% extends 'base.html' %}

{% load static %}
{% block content %}

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            {#            Search input#}
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit">
                        <i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="profile">
                <img src="{% static 'img/profile.png' %}">
            </a>
        </nav>
        <!-- End of Navbar -->
        <div class="mt-5 main-form-file">
            <h1>Upload File</h1>

            <div class="form-btn">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <div class="two-btns">
                        <button class="btn btn-success">Upload</button>
                        <a class="back-home" href="{% url 'dashboard' %}">Return to home</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
